footer
    div.g-container
        div.g-container__copyright
            span &copy 2015 indipixel design
        div.g-container__e-mail
            img(src=require('./img/IconMail.png'))
            span &nbsp;&nbsp;contact@youremail.com