.g-container__copyright
  padding-top 20px
  padding-bottom 20px

.g-container__e-mail
  display flex
  width 50%
  padding-top 20px
  padding-bottom 20px
  padding-right 40px

@media screen and (min-width: 300px) and (max-width: 500px)
  .g-container__copyright
    padding-left 15px

  .g-container__e-mail
    width 40%

  .g-container__e-mail_logo
    width 20px
    height 15px
