span.g-container__copyright &copy 2015 indipixel design
div.g-container__e-mail
    img(src=require('./img/IconMail.png') class='g-container__e-mail_logo')
    a(href='mailto:contact@youremail.com') &nbsp;&nbsp;contact@youremail.com