doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Indipixel
        meta(name='viewport' content='width=device-width' initial-scale='1.0')
    body
    include html/lines/lines
    main.wrapper
        header.header
            div.g-container
                include html/header/header
        section.specification
            div.g-container
                include html/specification/visual/visual
                include html/specification/description/description
        section.request
            div.g-container
                include html/request/request
    footer.footer
        div.g-container
            include html/footer/footer
