doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Indipixel
        meta(name='viewport' content='width=device-width' initial-scale='1.0')
    body
    div.wrapper

        div.header
            div.g-container
                include html/header/header
        div.specification
            include html/lines/lines
            div.g-container
                include html/specification/visual/visual
                include html/specification/description/description
        div.request
            div.g-container
                include html/request/request
    div.footer
        div.g-container
            include html/footer/footer
