.request-form
  display flex
  flex-direction column
  @media screen and (max-width: 500px)
    flex-direction column

  &__first-column
    display flex
    @media screen and (max-width: 500px)
      display block

  &__second-column
    display flex
    @media screen and (max-width: 500px)
      display block

  &__text-input-area
    color #636363
    font-size 1rem
    padding 13px 22px
    border-radius 5px
    border 2px solid #e3f2fd
    margin-top 5px
    margin-bottom 10px
    margin-right 10px
    @media screen and (max-width: 500px)
      font-size 0.8rem
      padding 4px

  &__selector
    width 46.5%
    height auto
    background: #fff
    @media screen and (max-width: 1000px)
      width 90%
      margin-right 10px
    @media screen and (max-width: 500px)
      width 302px
      height 37px
      display block
      font-size 12px
      padding 4px

  &__selector:required:invalid
    color #a9a9a9

  &__selector option
    color #636363

  &__input
    width 37%
    height auto
    @media screen and (max-width: 1000px)
      width 80%
      margin-right 10px
      margin-bottom 10px
    @media screen and (max-width: 500px)
      width 290px
      height 30px
      padding 4px

  &__query-area
    width 85%
    height auto
    resize none
    @media screen and (max-width: 1000px)
      width 90%
    @media screen and (max-width: 500px)
      max-width 100%
      width 290px
      margin-bottom 10px
      display block
      padding 4px

  &__sender-button
    max-width 25%
    min-width 20%
    align-self flex-end
    text-transform uppercase
    font-size 1.2rem
    padding 14px auto
    border-radius 8px
    background #ef5350
    border none
    color #ffffff
    outline none
    cursor pointer
    margin 20px 30px 30px 0
    @media screen and (max-width: 500px)
      font-size 0.8rem
      padding 12px 27px

