header
  border-top 20px solid #04e4a2
  width 100%
  color white
  background-color #e94643

@media screen and (max-width: 500px)
  header
    border-top 10px solid #04e4a2

.g-container__logo
  padding-top 2%
  padding-bottom: 2%
  padding-left 7%
  font-size 30px

@media screen and (max-width: 500px)
  .g-container__logo
    font-size 20px
    padding-left 5%

.g-container__contact
  font-size 16px
  padding-top 3%
  padding-bottom 3%
  padding-right 2%
  text-transform uppercase

@media screen and (max-width: 500px)
  .g-container__contact
    font-size 10px

.g-container__contact a
  color #f9fbe7
  border-bottom 3px solid #fdd835
  text-decoration none

.g-container__contact a:hover
  border-bottom 3px solid #fd8535