@charset "UTF-8"

html
body
  height 100%
  margin 0
  display flex
  flex-direction column

.wrapper
  flex 1 0 auto

.clearfix
  clear both
  @media screen and (max-width: 1000px)
    display none

.g-container
  max-width 1200px
  margin 0 auto
  display flex
  justify-content space-between
  @media screen and (max-width: 1000px)
    width auto
    margin 0 auto
  @media screen and (max-width: 500px)
    width auto
    margin 0 auto

@import '../html/header/header.styl';
@import '../html/form/form.styl';
@import '../html/visual/visual.styl';
@import '../html/description/description.styl';
@import '../html/request-form/request-form.styl';
@import '../html/footer/footer.styl';
@import '../html/lines/lines.styl';
@import '../html/specification/specification.styl';
@import '../html/request/request.styl';
@import './fonts.styl';