@charset "UTF-8"

.bold
.header__logo
  font-family MontserratBold, "Eras Bold ITC", serif or sans

.gotham
.header__contact
  font-family GothamBookRegular, "Eras Medium ITC", serif or sans

.light
.form__head
.footer__copyright
.footer__e-mail
.request-form__text-input-area
  font-family MontserratLight, "Eras Light ITC", serif or sans

.regular
.description__tagline
.description__button
  font-family MontserratRegular, "Eras Medium ITC", serif or sans

.semibold
.request-form__sender-button
  font-family MontserratSemiBold, "Eras Bold ITC", serif or sans

.ultral
.description__quote
  font-family: MontserratUltraLight, "Eras Light ITC", serif or sans

html
body
  height 100%
  margin 0
  display flex
  flex-direction column

.wrapper
  flex 1 0 auto

.clearfix
  clear both
  @media screen and (max-width: 1000px)
    display none

.g-container
  max-width 1200px
  margin 0 auto
  display flex
  justify-content space-between
  @media screen and (max-width: 1000px)
    width auto
    margin 0 auto
  @media screen and (max-width: 500px)
    width auto
    margin 0 auto

.specification
  background-color #ef5350
  height auto
  color #ffffff
  z-index -1
  @media screen and (max-width: 1000px)
    padding-left 10%
  @media screen and (max-width: 500px)
    padding-left 3%

.request
  background-color: #ffffff
  height auto
  @media screen and (max-width: 1000px)
    padding-left 10%
  @media screen and (max-width: 500px)
    padding-left 2%

@import '../html/header/header.styl';
@import '../html/form/form.styl';
@import '../html/visual/visual.styl';
@import '../html/description/description.styl';
@import '../html/request-form/request-form.styl';
@import '../html/footer/footer.styl';
@import '../html/lines/lines.styl';
@import './fonts.styl';