footer.footer
    div.g-container
        span.footer__copyright &copy 2015 indipixel design
        div.footer__e-mail
            img(src=require('./_img/IconMail.png') class='footer__e-mail_logo')
            a(href='mailto:contact@youremail.com') &nbsp;&nbsp;contact@youremail.com