.footer
  background-color #fefcf2
  height auto
  font-size 15px
  color #636363
  flex 0 0 auto
  @media screen and (max-width: 500px)
    font-size 11px
    color #636363

  &__copyright
    margin 20px 30px
    @media screen and (max-width: 500px)
      margin-left 1px

  &__e-mail
    display flex
    width 45%
    margin 20px 0
    padding-right 10%
    @media screen and (max-width: 1000px)
      margin-left 0
    @media screen and (max-width: 500px)
      margin-left 0

  &__e-mail a
    color #636363
    text-decoration none

  @media screen and (max-width: 500px)
    &__e-mail_logo
      width 20px
      height 15px
