html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header .upper_header {
    background-color: #04e4a2;
    height: 20px;
}

header .lower_header {
    height: 80px;
    color: white;
    background-color: #e94643;
}

header .lower_header .logo {
    float: left;
    padding-top: 20px;
    font-size: 30px;
}

header .lower_header .contact {
    padding-top: 30px;
    padding-right: 10px;
    text-transform: uppercase;
    float: right;
}

header .lower_header .contact a {
    color: #f9fbe7;
    border-bottom: 3px solid #fdd835;
    text-decoration: none;
}

header .lower_header .contact a:hover {
    border-bottom: 3px solid #fd8535;
}

#home {
    margin: 0;
    background-color: #ef5350;
    height: 582px;
    color: #ffffff;
}
#home .tagline h1 {
    text-transform: uppercase;
    text-align: right;
    line-height: 1.5;
}

#home .tagline p {
    text-align: right;
    line-height: 1.2;
}

#home .knowmore {
    float: right;
    margin-right: 25px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 7px;
    background: #04e4a2;
    border: none;
}

#query {
    background-color: #ffffff;
    height: 400px;
}

footer {
    background-color: #fefcf2;
    height: 65px;
}

