@charset "UTF-8";

.bold,
header .logo {
    font-family: MontserratBold, serif;
}

.gotham,
header .contact {
    font-family: GothamBookRegular, serif;
}

.light,
#query h2,
footer div,
#query input,
textarea,
select {
    font-family: "MontserratLight", serif;
}

.regular,
#home h1,
#home .know_more_button {
    font-family: "MontserratRegular", serif;
}

.semibold,
#query button {
    font-family: "MontserratSemiBold", serif;
}

.ultral,
#home p {
    font-family: "MontserratUltraLight", serif;
}

html {
    height: auto;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header {
    border-top: 20px solid #04e4a2;
    width: 100%;
    color: white;
    background-color: #e94643;
}

header .logo {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    font-size: 30px;
}

header .contact {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    text-transform: uppercase;
}

header .contact a {
    color: #f9fbe7;
    border-bottom: 3px solid #fdd835;
    text-decoration: none;
}

header .contact a:hover {
    border-bottom: 3px solid #fd8535;
}

#home {
    background-color: #ef5350;
    height: auto;
    color: #ffffff;
}

#home .lines {

}

/*#home .line-1 {*/
    /*position: absolute;*/
    /*background-color: #04e4a2;*/
    /*width: 1500px;*/
    /*height: 80px;*/
    /*!*top: 301px;*!*/
    /*!*left: -680px;*!*/
    /*-webkit-transform: rotate(30deg);*/
    /*-moz-transform: rotate(30deg);*/
    /*-ms-transform: rotate(30deg);*/
    /*-o-transform: rotate(30deg);*/
    /*transform: rotate(30deg);*/
/*}*/

/*#home .line-2 {*/
    /*position: absolute;*/
    /*background-color: #69f0ae;*/
    /*width: 1500px;*/
    /*height: 80px;*/
    /*top: 381px;*/
    /*left: -680px;*/
    /*-webkit-transform: rotate(30deg);*/
    /*-moz-transform: rotate(30deg);*/
    /*-ms-transform: rotate(30deg);*/
    /*-o-transform: rotate(30deg);*/
    /*transform: rotate(30deg);*/
/*}*/

#home img {
    position: absolute;
    max-width: 100%;
    padding-top: 3.9%;
    padding-left: 20px;
    height: auto;
    z-index: 1;
}

.block_description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
}

.tagline h1 {
    margin: 0;
    padding-top: 35%;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2px;
    font-size: 30px;
}

.tagline p {
    font-size: 19px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.know_more_button {
    float: right;
    color: #ffffff;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 7px;
    background: #04e4a2;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 15%;
}

#query {
    background-color: #ffffff;
    height: auto;
}

#query h2 {
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 0;
    color: #ff8a80;
}

.block_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
}

.block_form_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#query input,
select,
textarea {
    display: inline-block;
    color: #636363;
    font-size: 20px;
    padding: 18px 25px;
    line-height: 1.2;
    border-radius: 5px;
    border: 2px solid #e3f2fd;
    margin-top: 2%;
    margin-bottom: 2%;
}

select {
    width: 40.7%;
    height: auto;
    box-sizing: content-box;
}

select:required:invalid {
    color: #a9a9a9;
}

select option {
    color: #636363;
}

#query input {
    width: auto;
    box-sizing: content-box;
    height: auto;
}

textarea {
    width: 100%;
    height: auto;
    box-sizing: content-box;
    resize: none;
}

.sender {
    padding-left: 78%;
    margin-bottom: 5%;
}

button {
    float: right;
    text-transform: uppercase;
    font-size: 20px;
    padding: 14px 37px;
    border-radius: 8px;
    background: #ef5350;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

footer {
    background-color: #fefcf2;
    height: auto;
    max-height: 70px;
    font-size: 16px;
    color: #636363;
}

footer .copyright {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .email {
    display: flex;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 761px) and (max-width: 1100px) {
    .layout-column {
        margin: auto;
    }

    #home {
        padding-left: 150px;
    }
    #home .line-1 {
        display: none;
    }

    #home .line-2 {
        display: none;
    }

    #home img {
        position: absolute;
        visibility: hidden;
    }

    #query {
        padding-left: 150px;
    }

    #query .sender {
        padding-right: 50px;
    }

    footer {
        padding-left: 150px;
    }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
    .layout-column {
        margin: auto;
    }

    header .lower_header {
        border-top: 10px;
        height: 55px;
    }

    header .lower_header .logo {
        padding: 15px;
        font-size: 23px;
    }

    header .lower_header .logo span {
        padding-left: 15px;
    }

    header .lower_header .contact {
        font-size: 11px;
    }

    #home {
        height: 280px;
    }

    #home img {
        display: none;
    }

    #home .tagline h1 {
        font-size: 20px;
        margin: 0;
        padding: 10px;
    }

    #home .tagline p {
        font-size: 12px;
        padding-left: 10px;
    }

    #home .knowmore {
        margin-top: 15px;
        font-size: 11px;
        padding: 11px 15px;
    }

    #query {
        height: 500px;
        margin-left: 30px;
    }

    #query h2 {
        font-size: 18px;
    }

    #query input {
        min-width: 300px;
        display: block;
        font-size: 12px;
        height: 30px;
        padding: 4px;
    }

    #query select {
        min-width: 310px;
        height: 40px;
        display: block;
        font-size: 12px;
        padding: 4px;
    }

    #query textarea {
        min-width: 300px;
        margin-bottom: 10px;
        display: block;
        font-size: 12px;
        padding: 4px;
    }

    #query button {
        font-size: 12px;
        padding: 12px 27px;
    }
    #query .sender {
        padding-right: 30px;
    }

    footer {
        position: relative;
        max-height: 50px;
        font-size: 11px;
        color: #636363;
    }

    footer .copyright {
        padding-left: 15px;
        float: left;
        position: absolute;
    }

    footer .email {
        padding-left: 45px;
        float: left;
        position: absolute;
    }

    footer .mail-logo {
        width: 20px;
        height: auto;
        position: absolute;
    }
}

