//.lines
//  position relative

.lines__line-1
  background-color #04e4a2
  position absolute
  top 240px
  width 100%
  height 80px
  left -50%
  -webkit-transform rotate(30deg)
  -moz-transform rotate(30deg)
  -ms-transform rotate(30deg)
  -o-transform rotate(30deg)
  transform rotate(30deg)

@media screen and (max-width: 1000px)
  .lines__line-1
    display none

.lines__line-2
  background-color #69f0ae
  position absolute
  top 320px
  width 100%
  height 80px
  left -50%
  -webkit-transform rotate(30deg)
  -moz-transform rotate(30deg)
  -ms-transform rotate(30deg)
  -o-transform rotate(30deg)
  transform rotate(30deg)

@media screen and (max-width: 1000px)
  .lines__line-2
    display none