@charset "UTF-8"

.bold
.g-container__logo
  font-family MontserratBold

.gotham
.g-container__contact
  font-family GothamBookRegular

.light
.b-request h2
footer div
.b-request input
textarea
select
  font-family MontserratLight

.regular
.b-home h1
.b-description__button
  font-family MontserratRegular

.semibold
.b-request button
  font-family MontserratSemiBold

.ultral
.b-home p
  font-family: MontserratUltraLight

html
  height auto

body
  width 100%
  height auto
  margin 0
  box-sizing border-box

.clearfix
  clear both

.g-container
  max-width 1200px
  margin 0 auto
  display flex
  justify-content space-between
.b-home
  background-color #ef5350
  height auto
  color #ffffff

.b-request
  background-color: #ffffff
  height: auto

footer
  background-color #fefcf2
  height auto
  max-height 70px
  font-size 16px
  color #636363

@media screen and (min-width: 500px) and (max-width: 1000px)
  .g-container
    width auto
    margin 0 auto

  .b-home
    padding-left 100px

  .b-request
    padding-left 100px

  .b-request .clearfix
    display none

  footer
    padding-left 100px

@media screen and (min-width: 300px) and (max-width: 500px)
  .g-container
    width auto
    margin 0 auto

  header
    border-top 10px solid #04e4a2

  footer
    max-height 50px
    font-size 11px
    color #636363

@import '../html/header/header.styl';
@import '../html/visual/visual.styl';
@import '../html/description/description.styl';
@import '../html/request/request.styl';
@import '../html/footer/footer.styl';
@import './fonts.styl';