section.b-home
    div.g-container
        div
            div.b-lines
                div.b-lines__line-1
                div.b-lines__line-2
            img(src=require('./img/Phone.png'))
        div.b-description
            div.b-description__tagline
                h1
                    != 'We design and build<br> beautiful web & mobile apps'
                p.
                    You can design and create, and build the most wonderful
                    place in the world. But it takes people to make the dream
                    a reality. - Walt Disney
                div
                    input(
                    type = 'button'
                    class = 'b-description__button'
                    value = 'Know more'
                    )
                    div.clearfix