doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Indipixel
        meta(name='viewport' content='width=device-width' initial-scale='1.0')
    body
    header
        div.g-container
            include html/header/header
    section.b-home
        div.g-container
            include html/visual/visual
            include html/description/description
    section.b-request
        div.g-container
            include html/request/request
    footer
        div.g-container
            include html/footer/footer