header
div.g-container
    div.g-container__logo
        span indipixel
    div.g-container__contact
        a(href = "#") Contact us
section.b-home
div.g-container
    div
        div.b-lines
            div.b-lines__line-1
            div.b-lines__line-2
        img(src="frontend/img/Phone.png")
    div.b-description
        div.b-description__tagline
            h1
                != 'We design and build<br> beautiful web & mobile apps'
            p.
                You can design and create, and build the most wonderful
                place in the world. But it takes people to make the dream
                a reality. - Walt Disney
            div
                input(
                type = 'button'
                class = 'b-description__button'
                value = 'Know more'
                )
                div.clearfix
section.b-request
div.g-container
    div.clearfix
    div.b-form
        h2 Lets talk
        form.b-form__input
            //- var values = ["First Name", "Last Name", "Email Address"];
            //for name in values
            input(
            type='text'
            placeholder = "First Name"
            )
            input(
            type='text'
            placeholder = "Last Name"
            )
            input(
            type='text'
            placeholder = "Email Address"
            )
            select
                option(
                value = ''
                disabled selected hidden
                ) Select design
                option(
                value='1'
                ) App design
                textarea(
                rows = '5'
                placeholder = 'Type your query here'
                )
footer
div.g-container
    div.g-container__copyright
        span &copy 2015 indipixel design
    div.g-container__e-mail
        img(src = "/frontend/img/IconMail.png")
        span &nbsp;&nbsp;contact@youremail.com
