section.b-request
    div.g-container
        div.clearfix
        div.b-form
            h2 Lets talk
            form.b-form__input
                input(
                type='text'
                placeholder = "First Name"
                )
                input(
                type='text'
                placeholder = "Last Name"
                )
                input(
                type='text'
                placeholder = "Email Address"
                )
                select(required)
                    option(
                    value = ''
                    disabled selected hidden
                    ) Select design
                    option(
                    value='1'
                    ) App design
                textarea(
                rows = '5'
                placeholder = 'Type your query here'
                )
                div.b-form__input_sender
                    button(type='submit' value='Send') Send
                    div.clearfix