.header
  border-top 20px solid #04e4a2
  width 100%
  color white
  background-color #e94643

@media screen and (max-width: 500px)
  .header
    border-top 10px solid #04e4a2

.header__logo
  margin-top 2%
  margin-bottom 2%
  margin-left 7%
  font-size 30px
  cursor default

@media screen and (max-width: 500px)
  .header__logo
    font-size 20px
    padding-left 5%

.header__contact
  font-size 16px
  margin-top 3%
  margin-bottom 3%
  margin-right 2%
  text-transform uppercase
  color #fff
  border-bottom 2px solid #fdd835
  text-decoration none

@media screen and (max-width: 500px)
  .header__contact
    font-size 10px

.header__contact:hover
  border-bottom 2px solid #fda020