.header
  border-top 20px solid #04e4a2
  width 100%
  color white
  background-color #e94643
  @media screen and (max-width: 500px)
    border-top 10px solid #04e4a2

  &__logo
    margin-top 20px
    margin-bottom 20px
    margin-left 60px
    font-size 30px
    letter-spacing 2px
    cursor default
    @media screen and (max-width: 500px)
      font-size 20px
      padding-left 5%

  &__contact
    font-size 16px
    margin-top 30px
    margin-bottom 30px
    margin-right 100px
    text-transform uppercase
    color #fff
    border-bottom 2px solid #fdd835
    text-decoration none
    @media screen and (max-width: 500px)
      font-size 10px

  &__contact:hover
    border-bottom 2px solid #fda020



