.form
  display flex
  flex-direction column
  width 50%
  padding-right 4%

@media screen and (max-width: 1000px)
  .form
    width 100%
    align-items center

@media screen and (max-width: 500px)
  .form
    padding-right 1%
    padding-left 1%
    width 100%
    align-items flex-start

.form
  &__head
    margin-top 30px
    margin-bottom 20px
    color #ff8a80

  @media screen and (max-width: 500px)
    &__head
      font-size 18px

.request-form
  display flex
  flex-direction column

  @media screen and (max-width: 500px)
    .request-form
      flex-direction column

.request-form
  &__first-column
    display flex

  @media screen and (max-width: 500px)
    &__first-column
      display block

  &__second-column
    display flex

  @media screen and (max-width: 500px)
    &__second-column
      display block

  &_text-input-area
    color #636363
    font-size 20px
    padding 18px 25px
    line-height 1.2
    border-radius 5px
    border 2px solid #e3f2fd
    margin-top 5px
    margin-bottom 5px
    margin-right 10px

  @media screen and (max-width: 500px)
    &_text-input-area
      font-size 12px
      padding 4px

  &__selector
    width 46.5%
    height auto
    background: #fff

  @media screen and (max-width: 1000px)
    &__selector
      width 90%
      margin-right 10px

  @media screen and (max-width: 500px)
    &__selector
      width 302px
      height 37px
      display block
      font-size 12px
      padding 4px

  &__selector:required:invalid
    color #a9a9a9

  &__selector option
    color #636363

  &__input
    width 37%
    height auto

  @media screen and (max-width: 1000px)
    &__input
      width 80%
      margin-right 10px
      margin-bottom 10px

  @media screen and (max-width: 500px)
    &__input
      width 290px
      font-size 12px
      height 30px
      padding 4px

  &__query-area
    width 85%
    height auto
    resize none

  @media screen and (max-width: 1000px)
    &__query-area
      width 90%

  @media screen and (max-width: 500px)
    &__query-area
      max-width 100%
      width 290px
      margin-bottom 10px
      display block
      font-size 12px
      padding 4px

  &__sender-button
    max-width 25%
    min-width 20%
    float right
    text-transform uppercase
    font-size 20px
    padding 14px auto
    border-radius 8px
    background #ef5350
    border none
    color #ffffff
    outline none
    cursor pointer
    margin-bottom 50px
    margin-top 30px

  @media screen and (max-width: 1000px)
    &__sender-button
      float left

  @media screen and (max-width: 500px)
    &__sender-button
      font-size 12px
      padding 12px 27px
      float left

